<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}INTELLIGENCE{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			<!-- Bootstrap -->
			<link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap.css') }}">
			<link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap-theme.css') }}">

			<!-- Bootstrap Admin Theme -->
			<link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap-admin-theme.css') }}">
			<link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap-admin-theme-change-size.css') }}">
		{% endblock %}
		
		{% block head_javascripts %}
			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			   <script type="text/javascript" src="{{ asset('js/html5shiv.js') }}"></script>
			   <script type="text/javascript" src="{{ asset('js/respond.min.js') }}"></script>
			<![endif]-->
		{% endblock %}
    </head>
    <body class="bootstrap-admin-with-small-navbar">
        {% block topmenu %}
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small" role="navigation">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="navbar-header">
                                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" href="about.html">INTELLIGENCE</a>
                              </div>
                              <div class="collapse navbar-collapse main-navbar-collapse">
                                  <ul class="nav navbar-nav navbar-right">
                                      <li class="dropdown">
                                          <a href="#" class="dropdown-toggle" data-hover="dropdown"> <i class="glyphicon glyphicon-user"></i> {{app.user.username}}  <b class="caret"></b></a>
                                          <ul class="dropdown-menu">
                                              <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                                              <li role="presentation" class="divider"></li>
                                              <li><a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </div><!-- /.navbar-collapse -->
                          </div>
                      </div>
                  </div><!-- /.container -->
              </nav>        
          {% endif %}
      {% endblock %}
        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- left, vertical navbar -->
                <div class="col-md-2 bootstrap-admin-col-left">
                     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ render(controller("ITPlatformBundle:Default:menu")) }}
                     {% endif %}       
                </div>
                <!-- content -->
                <div class="col-md-10">
                  {% block alerts %}
                    {% if app.session is defined %}  
                        {% if app.session.flashbag.has('info') %}
                            <div class="alert alert-info">
                                <ul>
                                    {% for message in app.session.flashbag.get('info') %}
                                        <li>{{ message }}</li>
                                    {% endfor %}          
                                </ul>  
                            </div>          
                        {% endif %}
     
                        {% if app.session.flashbag.has('error') %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for message in app.session.flashbag.get('error') %}
                                        <li>{{ message }}</li>
                                    {% endfor %}   
                                </ul>
                            </div>            
                        {% endif %}
                        {% if app.session.flashbag.has('notice') %}
                            <div class="alert alert-warning">
                                <ul>
                                    {% for message in app.session.flashbag.get('notice') %}
                                        <li>{{ message }}</li>
                                    {% endfor %}   
                                </ul>
                            </div>            
                        {% endif %} 
                         
                    {% endif %}
                  {% endblock %}	

                  {% block body %}
                  {% endblock %}		
                </div>
            </div>
        </div>

        <!-- footer -->
        <!--<div class="navbar navbar-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <footer role="contentinfo">
                            <p class="left">INTELLIGENCE</p>
                            <p class="right">&copy; {{ 'now'|date('Y') }}</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div> -->
		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('js/jquery-2.0.3.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/twitter-bootstrap-hover-dropdown.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/bootstrap-admin-theme-change-size.js') }}"></script>
		{% endblock %}
    </body>
</html>